@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?z0suk7');
    src:  url('fonts/icomoon.eot?z0suk7#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?z0suk7') format('truetype'),
      url('fonts/icomoon.woff?z0suk7') format('woff'),
      url('fonts/icomoon.svg?z0suk7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-info:before {
    content: "\ea0c";
  }
  .icon-check-box-ckecked-2:before {
    content: "\e900";
  }
  .icon-uniE901:before {
    content: "\e901";
  }
  .icon-uniE902:before {
    content: "\e902";
  }
  .icon-check-mark:before {
    content: "\e903";
  }
  .icon-add:before {
    content: "\e904";
  }
  .icon-drop-down:before {
    content: "\e905";
  }
  .icon-collapse:before {
    content: "\e906";
  }
  .icon-properties:before {
    content: "\e907";
  }
  .icon-errors:before {
    content: "\e908";
  }
  .icon-clients:before {
    content: "\e909";
  }
  .icon-goals:before {
    content: "\e90a";
  }
  .icon-templates:before {
    content: "\e90b";
  }
  .icon-expand:before {
    content: "\e90c";
  }
  .icon-looking-glass:before {
    content: "\e90d";
  }
  .icon-active:before {
    content: "\e90e";
  }
  .icon-close:before {
    content: "\e90f";
  }
  .icon-error:before {
    content: "\e910";
  }
  .icon-double-tri:before {
    content: "\e911";
  }
  .icon-refresh:before {
    content: "\e912";
  }
  .icon-tri-arrow:before {
    content: "\e913";
  }
  .icon-failed-build:before {
    content: "\e914";
  }
  .icon-success-build:before {
    content: "\e915";
  }
  .icon-hambuger-menu:before {
    content: "\e916";
  }
  .icon-download-batch:before {
    content: "\e917";
  }
  .icon-api-error:before {
    content: "\e918";
  }
  .icon-api-errors:before {
    content: "\e919";
  }
  .icon-download:before {
    content: "\e91a";
  }
  .icon-equal-sign:before {
    content: "\e91b";
  }
  .icon-download-anmiate:before {
    content: "\e91c";
  }
  .icon-delete_row:before {
    content: "\e91d";
  }
  .icon-AdVersionPlus:before {
    content: "\e91e";
  }
  .icon-ModalAdVersionClose:before {
    content: "\e91f";
  }
  .icon-ToggleEye:before {
    content: "\e920";
  }
  .icon-ToggleEyeClose:before {
    content: "\e921";
  }
  .icon-VersionMinus:before {
    content: "\e922";
  }
  .icon-check-box-ckecked:before {
    content: "\e9011";
  }
  